@font-face {
    font-family: 'coffekanregular';
    src: url('./assets/fonts/coffekanregular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'kenokylight';
    src: url('./assets/fonts/kenokylight-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'raleway';
    src: url('./assets/fonts/raleway-bold-webfont.woff') format('woff');
    font-weight: bold;
    font-style: normal;

}

@font-face {
    font-family: 'raleway';
    src: url('./assets/fonts/raleway-light-webfont.woff') format('woff');
    font-weight: light;
    font-style: normal;

}


html,
body {
    background-color: white;

}


h1 {
    color: black;
    font-family: 'kenokylight';
    font-weight: normal;
    font-style: normal;
    font-size: 6rem;
    margin-top: auto;
    margin-bottom: auto;

}

h2 {
    color: black;
    font-family: 'kenokylight';
    font-weight: normal;
    font-style: normal;
    font-size: 3rem;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: black;
    color: white;
    font-family: 'kenokylight';
    text-align: center;
}

div img {
    width: 400px;
    height: 400px;
    object-fit: cover;
    margin: 2em;

    display: inline-block;
    transition: 0.5s ease-in-out;
}

/* .img_wrap {
    position: relative;
    width: 400px;
    height: 400px;
 } */

.cover_title {
    color: black;
    font-family: 'kenokylight';
}

/* position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    color: #fff;
    visibility: hidden;
    opacity: 0;


    transition: opacity .2s, visibility .2s;
}

.img_wrap:hover .cover_title {
    visibility: visible;
    opacity: 1;
} */
/* img:hover {
    backdrop-filter: blur(10px);
    filter: blur(4px);
    transition: 0.5s ease-in-out;
} */


table,
a {
    font-family: 'raleway';

    text-decoration: none;
    color: black;
}

ul {
    list-style-type: none;
}

a:hover {
    color: #b3c4cb;
    transition: color 0.3s;
}

nav {
    width: 100%;
}

.navbar {
    display: flex;
    justify-content: space-between;

}

.nav-links {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-item a {
    font-family: 'kenokylight';
    font-size: 2.25rem;
    text-decoration: none;
    transition: color 0.5s;

    display: inline-block;
    padding: 10px 15px;
}

.nav-item a.active {
    color: #b3c4cb;
    text-decoration: line-through;
}