{% extends 'base.html' %} {% block content %}

<div>

    {% if task_list.count != 0 %}
    <table>
        <thead>
            <th>Name</th>
            <th>Start date</th>
            <th>End date</th>
            <th>Is completed</th>
        </thead>
        <tbody>
            {% for task in task_list %}
            <tr>
                <td>{{ task.name }}</td>
                <td>{{ task.start_date }}</td>
                <td>{{ task.due_date }}</td>
                <td>
                    {% if task.is_completed == False %}
                    <form method="post" action="{% url 'complete_task' task.id %}">
                        {% csrf_token %}
                        <input type="hidden" name="is_completed" value="True" />
                        <button>Complete</button>
                    </form>
                    {% else %} {{ task.is_completed|yesno:"Done, " }} {% endif %}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% elif task_list.count == 0 %}
    <p class="body-text">No collections to display yet</p>
    {% endif %}
</div>

{% endblock content %}