{% extends 'base.html' %}
{% load static %}

{% block content %}

<div class="covers">
    <div class="img_wrap">
        <img src="{% static 'projects/assets/images/oregon/rock2.jpg' %}" alt="another picture">
        <p class="cover_title">Oregon Coast</p>
    </div>
    <div class="img_wrap">
        <img src="{% static 'projects/assets/images/ocean/reflection.jpg' %}" alt="a picture">
        <p class="cover_title">Ocean</p>
    </div>
    <div class="img_wrap">
        <img src="{% static 'projects/assets/images/macro/soft_flowers.JPG' %}" alt="picture">
        <p class="cover_title">Macro</p>
    </div>
    <div class="img_wrap">
        <img src="{% static 'projects/assets/images/washington/lake.jpg' %}" alt="picture">
        <p class="cover_title">Washington</p>
    </div>

</div>

{% endblock content %}