<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Project Alpha</title>
  </head>
  <body>
    <main>
      <div>
        <h1>My Projects</h1>
        {% if projects_list.count == 0 %}
            <p>You are not assigned to any projects</p>
        {% elif projects_list.count != 0 %}
            <table>
            <thead>
                <th>Name</th>
                <th>Number of tasks</th>
            </thead>
            <tbody>
                {% for project in project_list %}
                <tr>
                <td><a href="{% url 'show_project' project.id %}">{{ project.name }}</td>
                <td>{{ project.tasks.count }}</td>
                </tr>
                {% endfor %}
            </tbody>
            </table>
        {% endif %}
      </div>
    </main>
  </body>
</html>
